.center {
  display: flex;
  justify-content: center;
}

.nav-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 1rem;
  align-items: center;
}

.menu-wrapper-off {
  display: none;
}

.menu-wrapper-on {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  grid-template-rows: 180px 25px;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: var(--nav-height);
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--text-color-nav-background);
  column-gap: 0.5rem;
}

.img-menu {
  width: 120px;
  color: transparent;
}

.img-menu-2 {
  width: 40px;
  color: transparent;
}

.img-menu-3 {
  width: 70px;
  color: transparent;
}

.hero {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("./images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitle {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.hero-action {
  margin-top: 4rem;
}

.button,
.button-inverted {
  width: fit-content;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.button-inverted {
  background-color: transparent;
  color: var(--primary-color);
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 1rem 0;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
  font-size: 1.6rem;
}

.about {
  display: grid;
  gap: 2rem;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.about-action {
  width: fit-content;
  margin-top: 2rem;
}

.about-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.about-images {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-image-large {
  min-width: 50%;
}

.about-image-small {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info .heading {
  margin: 0 auto;
}

.info-wrapper {
  height: 30vh;
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("./images/info.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.time-period {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.time-period-daily {
  display: flex;
  width: 15rem;
  font-size: 1.2rem;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.time-weekend .day,
.time-weekend .time {
  border-bottom: 1px solid var(--text-color);
}

.day {
  color: var(--text-color);
}

.time {
  color: var(--text-color);
}

.contact {
  display: flex;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-image {
  width: 100%;
  object-fit: contain;
}

.contact-actions {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.contact-detail {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.contact .heading {
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  .nav,
  .footer-links {
    font-size: 1rem;
    gap: 2rem;
  }

  .menu-wrapper-on {
    column-gap: 2rem;
  }
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button,
  .button-inverted {
    padding: 1.2rem 2.5rem;
  }

  .about-text {
    font-size: 1rem;
  }
  .about-images,
  .about-image-small {
    gap: 0.6rem;
  }

  .info-wrapper {
    margin: 4rem 0;
    padding: 3rem 0;
  }

  .time-period {
    margin-top: 2rem;
  }

  .time-period-daily {
    margin-bottom: 0.5rem;
  }

  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-image {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    /* ! */
    align-items: center;
  }

  .about-image,
  .about-image-small {
    gap: 0.8rem;
  }

  .heading {
    font-size: 2rem;
  }

  .time-period-daily {
    width: 18rem;
    margin-bottom: 0.5rem;
  }

  .info-wrapper {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .contact .heading {
    margin-bottom: 2rem;
  }

  .contact-actions {
    flex-direction: row;
  }

  .contact-image {
    width: 50%;
    object-fit: contain;
  }

  .contact-detail {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .footer {
    margin-top: 6rem;
  }
}
