@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #ff3030;
  --text-color: #ddd;
  --text-color-special-1: #2c4feb;
  --text-color-special-2: #ff6d33;
  --text-color-nav-background: rgb(43, 34, 34);

  --font-family-1: "Permanent Marker";
  --font-family-2: "Permanent Marker", cursive;

  --nav-height: 5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.inside {
  color: red;
  font-style: oblique;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 3rem;
  line-height: 3rem;
  font-family: var(--font-family-2);
  font-weight: 400;
}

.nav {
  background-color: var(--text-color-nav-background);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  background-color: #303030;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #ddd;
  align-items: center;
}

.footer-item {
  color: #ddd;
}

.footer-copyright {
  margin-top: 1rem;
  color: var(--text-color);
  font-size: 0.8rem;
}

.nav-item,
.footer-item {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.nav-item:hover,
.footer-item:hover {
  color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }

  .footer-links {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1000px) {
  .nav,
  .footer-links {
    gap: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
