@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #ff3030;
  --text-color: #ddd;
  --text-color-special-1: #2c4feb;
  --text-color-special-2: #ff6d33;

  --font-family-1: "Permanent Marker";
  --font-family-2: "Permanent Marker", cursive;

  --nav-height: 5rem;
}
